@import '../../assets/styles/base.scss';
.emptyWrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .emptyIcon{
    width: 300px;
    opacity: 0.04;
    filter: grayscale(100%);
    :global{
      img{
        display: block;
        width: 100%;
      }
    }
  }
  .addNewButton{
    margin-top: 20px;
  }
}