@import '../../assets/styles/base.scss';
$hoverbg: #f0f0f0;
.wrap{
  position: relative;
  .top{
    position: absolute;
    left: 0px;
    top: -60px;
  }
}
.title{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 22px;
  color: #333;
}
.blockWrap{
  width: 100%;
  height: calc(100% - 40px - 60px);
  .blockTitle{
    width: 100%;
    display: flex;
    align-items: center;
    color: #333;
    padding: 8px 4px 8px 12px;
    cursor: pointer;
    :global{
      svg{
        color: #999;
      }
    }
    .text{
      margin-left: 4px;
      color: #333;
    }
  }
  .blockContent{
    width: 100%;
    height: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    .item{
      width: 50%;
      height: 80px;
      padding: 8px 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #333;
      font-size: 13px;
      transition: all 0.2s ease-in;
      .icon{
        color: $theme;
        font-size: 24px;
      }
      .info{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 10px;
        text-align: center;
        .key{
          color: #b0b0b0;
        }
      }
      &:hover{
        background: $hoverbg;
      }
    }
  }
  .blockContentOpen{
    height: auto;
  }
}